<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170271631-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170271631-1');
    </script>

    <title>Express To Match - Find love anonymously</title>
    <meta name="title" content="Express To Match - Find love anonymously" />
    <meta name="description" content ="Find love using Express To match, anonymously" />
    <meta name="viewport" content="width=821, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <header id="header">
        <div class="left-content">
            <a href="/posts">
                <div class="app-logo">
                    <i class="fas fa-link"></i>
                    <span className="app-name">EXPRESS TO MATCH</span>
                </div>
            </a>
        </div>
    </header>

    <article class="login">
        <div class="login-container">
            <div class="header">
                <div class="main-title">Log In <i class="fas fa-lock"></i> </div>
            </div>
            <div class="content-local">
                <form action="/admin/console/login" method="post">
                    <div class="form-group">
                        <label for="email">
                            Email address:
                        </label>
                        <div class="em-form-control">
                            <input type="email" name="email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password:
                        </label>
                        <div class="em-form-control">
                            <input type="password" name="password" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keepMeSignedIn">
                            <input type="checkbox" id="keepMeSignedIn" name="keepMeSignedIn" checked/> Keep me signed in
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="em-form-control">Log In</button>
                    </div>
                    <!-- show any messages that come back with authentication -->
                    <% if (error.length > 0) { %>
                    <div class="form-error"><%= error %></div>
                    <% } %>
                </form>
            </div>
        </div>
    </article>


    <div id="footer">
        <div class="footer-message">
            Copyright @ 2020 Express To Match, India. All rights reserved.
            <a href="/privacy" target="_blank">Privacy Policy</a> and <a href="/terms" target="_blank">Terms of Use</a>
        </div>
    </div>

</div>
</body>
</html>