<header id="header">
    <div class="left-content">
        <a href="/posts">
            <div class="app-logo">
                <i class="fas fa-link"></i>
                <span className="app-name">EXPRESS TO MATCH</span>
            </div>
        </a>
    </div>
    <div class="right-content">
        <div class="menu-items">
            <div class="menu-item">
                <a href="/login">Log in</a>
            </div>
            <div class="menu-item">
                <a href="/signup">Sign up</a>
            </div>
        </div>
        <div class="profile">

        </div>
    </div>
</header>