<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Express To Match - Find love anonymously</title>
    <meta name="title" content="Express To Match - Find love anonymously" />
    <meta name="description" content ="Find love using Express To match, anonymously" />
    <meta name="viewport" content="width=821, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">

    <% include partial/header.ejs %>

    <section id="content">
        <div class="main-content">
            Looking for a partner?
        </div>
        <div class="sub-content">
            Find love using Express To Match, anonymously.
        </div>
        <div class="sign-up">
            <a href="/signup">
                <button>Sign Up</button>
            </a>
        </div>
    </section>

    <% include partial/footer.ejs %>

</div>
</body>
</html>