<!doctype html>
<html>
<head>
    <title>Express Match - Express and find your partner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        .privacy-content{
            margin: 0 auto;
            width: 80%;
            min-width: 820px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <% include partial/header.ejs %>
    <div class="privacy-content">
        <div>
            <h3><b>Application Privacy Statement</b></h3>

            <p>This privacy statement applies to the treatment of personally identifiable information submitted by, or
                otherwise obtained from, you in connection with the associated application Express To Match. The
                Application is provided by EXPRESS TO MATCH organization. By using or otherwise accessing the
                Application, you acknowledge that you accept the practices and policies outlined in this Privacy
                Statement.</p>

            <h4><b>WHAT PERSONAL INFORMATION DOES ‘EXPRESS TO MATCH’ COLLECT?</b></h4>

            <p>We collect the following types of information from our users:</p>

            <p>Personal Information You Provide to Us.</p>

            <p>We may receive and store any information you submit to the Application (or otherwise authorize us to
                obtain – such as, data from your Facebook account). The types of personal information collected may
                include your full name, age, email address, gender, IP address, browser information, username,
                demographic information, and any other information necessary for us to provide the Application
                services.</p>

            <p>Personal Information Collected Automatically.</p>
            <p>We receive and store certain types of usage related information whenever you interact with Application.
                For example, EXPRESS TO MATCH may automatically receive and record information regarding your computer’s
                IP address, browser information, Facebook user ID, email and links clicked in the application. Such
                information may be shared in aggregate (non-personally identifiable) form with our developers for purely
                analytical purpose to improve the application features and not intended for any outside use.</p>

            <h4><b>HOW DOES EXPRESS TO MATCH USE THE INFORMATION IT COLLECTS?</b></h4>

            <p>EXPRESS TO MATCH uses the information internally, to analyze, develop and improve its products and
                services.
            </p>

            <h4><b>WILL EXPRESS TO MATCH SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</b></h4>

            <p>Personal information about our users is an integral part of our business. We neither rent nor sell
                your personal information to anyone</p>

            <h4><b>WHAT PERSONAL INFORMATION CAN I ACCESS?</b></h4>

            <p>EXPRESS TO MATCH allows you to access the following information about you for the purpose of
                viewing, and in certain situations, updating that information. This list may change in the event the
                Application changes.</p>

            <ul>
                <li>Account and user profile information</li>
                <li>User e-mail address, if applicable</li>
                <li>Facebook profile information, if applicable</li>
                <li>User preferences</li>
                <li>Application specific data like caste, city, job details, etc</li>
            </ul>
            

            <h4><b>CAN CHILDREN USE THE APPLICATION?</b></h4>

            <p>Our site and the services available through EXPRESS TO MATCH are not intended for children under the
                age
                of 16. EXPRESS TO MATCH does not knowingly or specifically collect information about children under
                the
                age of 16 and believes that children of any age should get their parents’ consent before giving out
                any
                personal information. We encourage you to participate in your child’s web experience.</p>

            <h4><b>CHANGES TO THIS PRIVACY STATEMENT.</b></h4>

            <p>EXPRESS TO MATCH may amend this Privacy Statement from time to time. Use of information we collect
                now
                is subject to the Privacy Statement in effect at the time such information is used. If we make
                changes
                in the way we use personal information, we will notify you by posting an announcement on our Site or
                sending you an email. Users are bound by any changes to the Privacy Statement when he or she uses or
                otherwise accesses the Application after such changes have been first posted.</p>

            <h4><b>QUESTIONS OR CONCERNS.</b></h4>

            <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed
                message using our <a href="/contactus">Contact Us</a> page. We will make every effort to resolve your concerns.</p>

            <p>Effective Date: May 4, 2020</p>
        </div>

    </div>

    <% include partial/footer.ejs %>

</div>
</body>
</html>