<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170271631-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170271631-1');
    </script>

    <title>Express To Match - Find love anonymously</title>
    <meta name="title" content="Express To Match - Find love anonymously" />
    <meta name="description" content ="Find love using Express To match, anonymously" />
    <!--<meta name="viewport" content="width=821, maximum-scale=1" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
    <style>
        .privacy-content {
            flex: 1 1 auto;
            margin: 0 auto;
            width: 80%;
            /*min-width: 820px;*/
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <%- include('partial/header.ejs', {generic: true}); %>
    <div class="privacy-content">
        <div>
            <h2>Application Privacy Statement</h2>

            <p>This privacy statement applies to the treatment of personally identifiable information submitted by, or
                otherwise obtained from, you in connection with the associated application Express To Match. The
                Application is provided by Express To Match organization. By using or otherwise accessing the
                Application, you acknowledge that you accept the practices and policies outlined in this Privacy
                Statement.</p>

            <h3>What personal information does ‘Express To Match’ collect?</h3>

            <p>We collect the following types of information from our users:</p>

            <p><b>Personal Information You Provide to Us.</b></p>

            <p>We may receive and store any information you submit to the Application (or otherwise authorize us to
                obtain – such as, data from your Facebook account). The types of personal information collected may
                include your full name, age, email address, gender, IP address, browser information, username,
                demographic information, and any other information necessary for us to provide the Application
                services.</p>

            <p><b>Personal Information Collected Automatically.</b></p>
            <p>We receive and store certain types of usage related information whenever you interact with Application.
                For example, Express To Match may automatically receive and record information regarding your computer’s
                IP address, browser information, Facebook user ID, email and links clicked in the application. Such
                information may be shared in aggregate (non-personally identifiable) form with our developers for purely
                analytical purpose to improve the application features and not intended for any outside use.</p>

            <p><b>Cookies.</b></p>
            <p>A cookie is a small file placed onto your device that enables Express To Match features and
                functionality.Any browser visiting our sites may receive cookies from us. We use persistent cookies,
                which may help us recognize you as an existing user, so it’s easier to return to Express To Match or
                interact with our Services without signing in again. A persistent cookie stays in your browser and will
                be read by Express To Match when you return to our site. We use cookies and similar technologies to:<p>
            <ul><li>recognize you when you visit our Services.</li>
                <li>make your interactions with our Services faster and more secure.</li>
            <li>remember information about your browser and your preferences</li>
            <li>show relevant advertising to you more effectively, both on and off our Services and to measure the
                performance of such ads</li>
            <li>learn more about how well our Services and plugins perform in different locations.</li>
            </ul>

            <h3>How does Express To Match use the information it collects?</h3>

            <p>Express To Match uses the information internally, to analyze, develop and improve its products and
                services.
            </p>

            <h3>Will Express To Match share any of the personal information it receives?</h3>

            <p>Personal information about our users is an integral part of our business. We neither rent nor sell
                your personal information to anyone</p>

            <h3>What personal information can I access?</h3>

            <p>Express To Match allows you to access the following information about you for the purpose of
                viewing, and in certain situations, updating that information. This list may change in the event the
                Application changes.</p>

            <ul>
                <li>Account and user profile information</li>
                <li>User e-mail address, if applicable</li>
                <li>Facebook profile information, if applicable</li>
                <li>User preferences</li>
                <li>Application specific data like caste, city, job details, etc</li>
            </ul>


            <h3>Can children use the application?</h3>

            <p>Our site and the services available through Express To Match are not intended for children under the
                age
                of 18. Express To Match does not knowingly or specifically collect information about children under
                the
                age of 18 and believes that children of any age should get their parents’ consent before giving out
                any
                personal information. We encourage you to participate in your child’s web experience.</p>

            <h3>Changes to this privacy statement</h3>

            <p>Express To Match may amend this Privacy Statement from time to time. Use of information we collect
                now
                is subject to the Privacy Statement in effect at the time such information is used. If we make
                changes
                in the way we use personal information, we will notify you by posting an announcement on our Site or
                sending you an email. Users are bound by any changes to the Privacy Statement when he or she uses or
                otherwise accesses the Application after such changes have been first posted.</p>

            <h3>Questions or concerns</h3>

            <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed
                message using our <a href="/contactus">Contact Us</a> page. We will make every effort to resolve your
                concerns.</p>

            <p>Effective Date: May 4, 2020</p>
        </div>

    </div>

    <% include partial/footer.ejs %>

</div>
</body>
</html>