<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170271631-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170271631-1');
    </script>

    <title>Express To Match - Find love anonymously</title>
    <meta name="title" content="Express To Match - Find love anonymously" />
    <meta name="description" content ="Find love using Express To match, anonymously" />
    <meta name="viewport" content="width=821, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <% include partial/header.ejs %>
    <article class="forgot-password">
        Verify Email
    </article>

    <% include partial/footer.ejs %>

</div>
</body>
</html>