#header {
  min-height: 60px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #363636;
  background-color: #343434;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
  z-index: 1001; }
  #header .left-content {
    flex: 0 0 200px; }
    #header .left-content a {
      text-decoration: none; }
      #header .left-content a .app-logo {
        min-width: 200px;
        color: #fff;
        margin: 0 10px;
        font-weight: bold; }
        #header .left-content a .app-logo:hover {
          color: #eee; }
        #header .left-content a .app-logo:active {
          color: #b1b1b1; }
        #header .left-content a .app-logo .app-name {
          padding: 0 10px; }
        #header .left-content a .app-logo i {
          font-size: 1.5rem;
          vertical-align: middle; }
  #header .right-content {
    display: flex;
    flex-flow: row; }
    #header .right-content .menu-items {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      #header .right-content .menu-items .menu-item a {
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        font-weight: 600; }
        #header .right-content .menu-items .menu-item a:hover {
          color: #eee;
          outline: none; }
        #header .right-content .menu-items .menu-item a:active {
          color: #b1b1b1; }
    #header .right-content .profile {
      margin: 0 10px; }
      #header .right-content .profile .menu-toggle {
        height: 30px;
        width: 30px;
        border-radius: 50%; }
        #header .right-content .profile .menu-toggle .profile-picture img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          margin-right: 10px;
          transition: transform .2s; }
          #header .right-content .profile .menu-toggle .profile-picture img:hover {
            transform: scale(1.1); }
        #header .right-content .profile .menu-toggle .dropdown-menu {
          max-width: 200px;
          -moz-box-shadow: 2px 2px 5px 2px #343434;
          -webkit-box-shadow: 2px 2px 5px 2px #343434;
          box-shadow: 2px 2px 5px 2px #343434; }
          #header .right-content .profile .menu-toggle .dropdown-menu .menu-item {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px 10px;
            color: #424242; }
            #header .right-content .profile .menu-toggle .dropdown-menu .menu-item:hover {
              background-color: #eee; }
            #header .right-content .profile .menu-toggle .dropdown-menu .menu-item:focus {
              outline: none; }
            #header .right-content .profile .menu-toggle .dropdown-menu .menu-item.header {
              font-weight: bold;
              padding: 0 10px;
              color: #424242; }
              #header .right-content .profile .menu-toggle .dropdown-menu .menu-item.header:hover {
                background-color: #fff;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; }
              #header .right-content .profile .menu-toggle .dropdown-menu .menu-item.header:focus {
                outline: none; }
            #header .right-content .profile .menu-toggle .dropdown-menu .menu-item .item-text {
              padding: 0 10px; }
            #header .right-content .profile .menu-toggle .dropdown-menu .menu-item i {
              zoom: 1.2;
              vertical-align: middle; }

#content {
  margin: auto;
  width: 80%;
  min-width: 820px;
  padding: 10px;
  text-align: center;
  min-height: 300px; }
  #content .main-content {
    font-weight: bold;
    font-size: 42px; }
  #content .sub-content {
    font-weight: bold;
    font-size: 20px; }
  #content .sign-up {
    padding: 10px;
    margin-top: 36px; }
    #content .sign-up button {
      font-size: 16px;
      width: auto;
      cursor: pointer;
      border-radius: 3px;
      font-weight: 600;
      min-height: 36px;
      outline: 0;
      padding: .75em 7em;
      vertical-align: middle;
      border: 1px solid #ff5e3a;
      background-color: #ff5e3a;
      color: #fff; }
      #content .sign-up button:hover {
        opacity: 0.8; }

footer {
  background-color: #3f4257;
  z-index: 1001;
  padding: 10px; }
  footer .footer-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-width: 820px; }
    footer .footer-container .subscription {
      display: flex; }
      footer .footer-container .subscription .left-panel, footer .footer-container .subscription .right-panel {
        width: 50%;
        padding: 10px;
        color: #fff; }
    footer .footer-container .links {
      padding: 10px;
      color: #fff; }
    footer .footer-container .social {
      padding: 10px;
      color: #fff; }

article.login {
  display: flex;
  justify-content: center;
  flex: 1 0 auto; }
  article.login .login-container {
    border: 1px solid #363636;
    border-radius: 5px;
    margin: auto;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: #424242; }
    article.login .login-container .header {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.login .login-container .header .main-title {
        font-size: 28px; }
      article.login .login-container .header a {
        font-weight: normal;
        text-decoration: none;
        cursor: hand; }
        article.login .login-container .header a:hover {
          text-decoration: underline; }
    article.login .login-container .content-local {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.login .login-container .content-local .form-error {
        color: #ff7e61; }
      article.login .login-container .content-local .form-group {
        padding-bottom: 10px; }
        article.login .login-container .content-local .form-group:last-child {
          padding-bottom: 0px; }
        article.login .login-container .content-local .form-group input[type="text"], article.login .login-container .content-local .form-group input[type="password"], article.login .login-container .content-local .form-group input[type="email"] {
          width: 100%;
          line-height: 1.45;
          padding: 4px; }
        article.login .login-container .content-local .form-group input[type="checkbox"] {
          height: 20px;
          width: 20px;
          vertical-align: middle; }
        article.login .login-container .content-local .form-group input:focus, article.login .login-container .content-local .form-group textarea:focus {
          box-shadow: none;
          outline: 0; }
        article.login .login-container .content-local .form-group a {
          font-weight: normal;
          text-decoration: none;
          cursor: hand; }
          article.login .login-container .content-local .form-group a:hover {
            text-decoration: underline; }
        article.login .login-container .content-local .form-group button[type="submit"] {
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff; }
          article.login .login-container .content-local .form-group button[type="submit"]:hover {
            opacity: 0.8; }
    article.login .login-container .content-social {
      padding: 20px; }
      article.login .login-container .content-social .facebook-button {
        color: #fff !important;
        background: #3b5998;
        border-radius: 3px;
        position: relative;
        text-align: center;
        padding: 16px 14px 13px 40px;
        text-decoration: none;
        cursor: pointer;
        width: 85%;
        display: inline-block; }
        article.login .login-container .content-social .facebook-button::before {
          content: '\00a0';
          background: url(../images/f-logo.png) center center no-repeat;
          position: absolute;
          display: block;
          border-right: 1px solid #768bb7;
          left: 0;
          top: 0;
          text-align: center;
          padding: 16px 18px 7px;
          font-size: 16px !important; }
        article.login .login-container .content-social .facebook-button span {
          color: #fff;
          background: #3b5998;
          border-radius: 3px;
          position: relative;
          padding-top: 16px;
          padding-bottom: 13px;
          text-align: center; }

article.sign-up {
  display: flex;
  justify-content: center;
  flex: 1 0 auto; }
  article.sign-up .sign-up-container {
    border: 1px solid #363636;
    border-radius: 5px;
    margin: auto;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: #424242; }
    article.sign-up .sign-up-container .header {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.sign-up .sign-up-container .header .main-title {
        font-size: 28px; }
      article.sign-up .sign-up-container .header a {
        font-weight: normal;
        text-decoration: none;
        cursor: hand; }
        article.sign-up .sign-up-container .header a:hover {
          text-decoration: underline; }
    article.sign-up .sign-up-container .content-local {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.sign-up .sign-up-container .content-local .form-error {
        color: #ff7e61; }
      article.sign-up .sign-up-container .content-local .form-group {
        padding-bottom: 10px; }
        article.sign-up .sign-up-container .content-local .form-group:last-child {
          padding-bottom: 0px; }
        article.sign-up .sign-up-container .content-local .form-group input[type="text"], article.sign-up .sign-up-container .content-local .form-group input[type="password"], article.sign-up .sign-up-container .content-local .form-group input[type="email"] {
          width: 100%;
          line-height: 1.45;
          padding: 4px; }
        article.sign-up .sign-up-container .content-local .form-group input:focus, article.sign-up .sign-up-container .content-local .form-group textarea:focus {
          box-shadow: none;
          outline: 0; }
        article.sign-up .sign-up-container .content-local .form-group button[type="submit"] {
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff; }
          article.sign-up .sign-up-container .content-local .form-group button[type="submit"]:hover {
            opacity: 0.8; }
    article.sign-up .sign-up-container .content-social {
      padding: 20px; }
      article.sign-up .sign-up-container .content-social .facebook-button {
        color: #fff !important;
        background: #3b5998;
        border-radius: 3px;
        position: relative;
        text-align: center;
        padding: 16px 14px 13px 40px;
        text-decoration: none;
        cursor: pointer;
        width: 85%;
        display: inline-block; }
        article.sign-up .sign-up-container .content-social .facebook-button::before {
          content: '\00a0';
          background: url(../images/f-logo.png) center center no-repeat;
          position: absolute;
          display: block;
          border-right: 1px solid #768bb7;
          left: 0;
          top: 0;
          text-align: center;
          padding: 16px 18px 7px;
          font-size: 16px !important; }
        article.sign-up .sign-up-container .content-social .facebook-button span {
          color: #fff;
          background: #3b5998;
          border-radius: 3px;
          position: relative;
          padding-top: 16px;
          padding-bottom: 13px;
          text-align: center; }

article.forgot-password {
  display: flex;
  justify-content: center; }
  article.forgot-password .forgot-password-container {
    border: 1px solid #363636;
    border-radius: 5px;
    margin: 80px;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: #424242; }
    article.forgot-password .forgot-password-container .header {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.forgot-password .forgot-password-container .header .main-title {
        font-size: 28px; }
    article.forgot-password .forgot-password-container .content {
      padding: 20px; }
      article.forgot-password .forgot-password-container .content .form-error {
        color: #ff7e61; }
      article.forgot-password .forgot-password-container .content .form-success {
        color: #009d00; }
      article.forgot-password .forgot-password-container .content .form-group {
        padding-bottom: 10px; }
        article.forgot-password .forgot-password-container .content .form-group:last-child {
          padding-bottom: 0px; }
        article.forgot-password .forgot-password-container .content .form-group input[type="text"], article.forgot-password .forgot-password-container .content .form-group input[type="password"], article.forgot-password .forgot-password-container .content .form-group input[type="email"] {
          width: 100%;
          line-height: 1.45;
          padding: 4px; }
        article.forgot-password .forgot-password-container .content .form-group input:focus, article.forgot-password .forgot-password-container .content .form-group textarea:focus {
          box-shadow: none;
          outline: 0; }
        article.forgot-password .forgot-password-container .content .form-group button[type="submit"] {
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff; }
          article.forgot-password .forgot-password-container .content .form-group button[type="submit"]:hover {
            opacity: 0.8; }

article.reset-password {
  display: flex;
  justify-content: center; }
  article.reset-password .reset-password-container {
    border: 1px solid #363636;
    border-radius: 5px;
    margin: 80px;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: #424242; }
    article.reset-password .reset-password-container .header {
      padding: 20px;
      border-bottom: 1px solid #363636; }
      article.reset-password .reset-password-container .header .main-title {
        font-size: 28px; }
    article.reset-password .reset-password-container .content {
      padding: 20px; }
      article.reset-password .reset-password-container .content .form-error {
        color: #ff7e61; }
      article.reset-password .reset-password-container .content .form-success {
        color: #009d00; }
      article.reset-password .reset-password-container .content .form-group {
        padding-bottom: 10px; }
        article.reset-password .reset-password-container .content .form-group:last-child {
          padding-bottom: 0px; }
        article.reset-password .reset-password-container .content .form-group input[type="text"], article.reset-password .reset-password-container .content .form-group input[type="password"], article.reset-password .reset-password-container .content .form-group input[type="email"] {
          width: 100%;
          line-height: 1.45;
          padding: 4px; }
        article.reset-password .reset-password-container .content .form-group input:focus, article.reset-password .reset-password-container .content .form-group textarea:focus {
          box-shadow: none;
          outline: 0; }
        article.reset-password .reset-password-container .content .form-group button[type="submit"] {
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff; }
          article.reset-password .reset-password-container .content .form-group button[type="submit"]:hover {
            opacity: 0.8; }

::selection {
  background-color: #eee; }

html {
  height: 100%; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  color: #eee;
  background-color: #505050;
  height: 100%; }

body, input, textarea, select, header, article, section, aside, pre {
  line-height: 1.6;
  letter-spacing: 0.7px;
  font-size: 13px;
  color: #eee; }

input, select, textarea, select, radio {
  background-color: #393939;
  border: 1px solid #363636;
  color: #eee; }

a:link {
  color: #09a7f3; }

a:visited {
  color: #09a7f3; }

a:hover {
  color: #09a7f3; }

a:active {
  color: #09a7f3; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

@-webkit-keyframes autofill {
  0%, 100% {
    color: #eee;
    background: #343434; } }

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }
