#content{
  //flex: 1 0 auto;
  margin: auto;
  width: 80%;
  min-width: 820px;
  padding: 10px;
  text-align: center;
  min-height: 300px;

  .main-content{
    font-weight: bold;
    font-size: 42px;
  }
  .sub-content{
    font-weight: bold;
    font-size: 20px;
  }
  .sign-up{
    padding: 10px;
    margin-top: 36px;
    button{
      font-size: 16px;
      width: auto;
      cursor: pointer;
      border-radius: 3px;
      font-weight: 600;
      min-height: 36px;
      outline: 0;
      padding: .75em 7em;
      vertical-align: middle;
      border: 1px solid #ff5e3a;
      background-color: #ff5e3a;
      color: #fff;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}