#header {
  min-height: 60px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $em-border-gray;
  background-color: $em-bg-gray-dark;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
  z-index: 1001;

  .left-content {
    flex: 1;
    a{
      text-decoration: none;

      .app-logo {
        min-width: 180px;
        color: $em-text-white;
        margin: 0 10px;
        font-weight: bold;
        display: flex;
        align-items: center;

        &:hover{
          color: $em-text-gray;
        }
        &:active {
          color: $em-text-gray-light;
        }
        .app-name{
          padding: 0 5px;
        }
        i{
          font-size: 1.5rem;
          //vertical-align: middle;
        }
      }
    }
  }
  .right-content {
    display: flex;
    flex-flow: row;

    .menu-items {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .menu-item a {
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $em-text-white;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: $em-text-gray;
          outline: none;
        }
        &:active {
          color: $em-text-gray-light;
        }
      }
      @include mobile(){
        .menu-item a{
          padding: 0 5px;
        }
      }
    }
    .profile {
      margin: 0 10px;
      .menu-toggle {
        height: 30px;
        width: 30px;
        border-radius: 50%;

        .profile-picture {

          img{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 10px;
            transition: transform .2s;

            &:hover{
              transform: scale(1.1);
            }
          }
        }
        .dropdown-menu {
          max-width: 200px;
          -moz-box-shadow: 2px 2px 5px 2px $em-bg-gray-dark;
          -webkit-box-shadow: 2px 2px 5px 2px $em-bg-gray-dark;
          box-shadow: 2px 2px 5px 2px $em-bg-gray-dark;
          outline: none;
          background-color: $em-bg-gray-light;

          .menu-item {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px 10px;
            color: $em-text-gray;

            &:hover{
              background-color: $em-text-gray;
            }
            &:focus{
              outline: none;
            }

            &.header{
              font-weight: bold;
              padding: 0 10px;

              &:hover{
                background-color: $em-bg-gray-light;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
              &:focus{
                outline: none;
              }
            }
            &:hover{
              background-color: $em-bg-gray-dark;
            }
            &:focus{
              outline: none;
            }
            &:active{
              background-color: $em-bg-gray-dark;
            }
            .item-text{
              padding: 0 10px;
            }
            i{
              zoom: 1.4;
              vertical-align: middle;
            }
          }
          &::before{
            content: '';
            position: absolute;
            right: 8px;
            top: -4px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;  /* left arrow slant */
            border-right: 5px solid transparent; /* right arrow slant */
            border-bottom: 5px solid $em-bg-gray-light; /* bottom, add background color here */
            font-size: 0;
            line-height: 0;
          }
        }
      }
    }
  }
}