article.login{
  display: flex;
  justify-content: center;
  flex: 1 0 auto;

  .login-container{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;

    .header{
      padding: 20px;
      border-bottom: 1px solid #ccc;

      .main-title{
        font-size: 28px;
      }
      a{
        font-weight: normal;
        text-decoration: none;
        cursor: hand;

        &:hover{
          text-decoration: underline;
        }
        &:active{
          color:#181ca0;
        }
        &:visited{
          color:#1f24cc;
        }
      }
    }
    .content-local{
      padding: 20px;
      border-bottom: 1px solid #ccc;

      .form-error{
        color: red;
      }

      .form-group{
        padding-bottom: 10px;

        &:last-child{
          padding-bottom: 0px;
        }
        input[type="text"], input[type="password"], input[type="email"]{
          width: 100%;
          background: #fff;
          line-height: 1.45;
          padding: 4px;
          border: 1px solid #ccc;
        }
        input, textarea{
          &:focus{
            border-color: #1f24cc;
            box-shadow: none;
            outline: 0;
          }
        }
        a{
          font-weight: normal;
          text-decoration: none;
          cursor: hand;

          &:hover{
            text-decoration: underline;
          }
          &:active{
            color:#181ca0;
          }
          &:visited{
            color:#1f24cc;
          }
        }
        button[type="submit"]{
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .content-social{
      padding: 20px;

      .facebook-button{
        color: #fff !important;
        background: #3b5998;
        border-radius: 3px;
        position: relative;
        text-align: center;
        padding: 16px 14px 13px 40px;
        text-decoration: none;
        cursor: pointer;
        width: 85%;
        display: inline-block;

        &::before{
          content: '\00a0';
          background: url(../images/f-logo.png) center center no-repeat;
          position: absolute;
          display: block;
          border-right: 1px solid #768bb7;
          left: 0;
          top: 0;
          text-align: center;
          padding: 16px 18px 7px;
          font-size: 16px!important;
        }

        span{
          color: #fff;
          background: #3b5998;
          border-radius: 3px;
          position: relative;
          padding-top: 16px;
          padding-bottom: 13px;
          text-align: center;
        }
      }
    }
  }
}