article.reset-password{
  display: flex;
  justify-content: center;
  flex: 1;


  .reset-password-container{
    border: 1px solid $em-border-gray;
    border-radius: 5px;
    margin: auto;
    min-width: 380px;
    width: 380px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 12px;
    background-color: $em-bg-gray-medium;

    .header{
      padding: 20px;
      border-bottom: 1px solid $em-border-gray;

      .main-title{
        font-size: 28px;
      }
    }
    @include mobile(){
      .header{
        padding: 10px 20px;
      }
    }
    .content{
      padding: 20px;
      //border-bottom: 1px solid $em-border-gray;

      .form-error{
        color: #ff7e61
      }
      .form-success{
        color: #009d00;
      }

      .form-group{
        padding-bottom: 10px;

        &:last-child{
          padding-bottom: 0px;
        }
        input[type="text"], input[type="password"], input[type="email"]{
          width: 100%;
          line-height: 1.45;
          padding: 4px;
        }
        input, textarea{
          &:focus{
            box-shadow: none;
            outline: 0;
          }
        }
        button[type="submit"]{
          font-size: 16px;
          width: auto;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          min-height: 36px;
          outline: 0;
          padding: 0 16px;
          vertical-align: middle;
          border: 1px solid #ff5e3a;
          background-color: #ff5e3a;
          color: #fff;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    @include mobile(){
      .content{
        padding: 10px 20px;
      }
    }
  }
  @include mobile(){
    .reset-password-container{
      min-width: 85%;
      width: 85%;
    }
  }
}