.comments-control{
  padding: 0 25px;
  //background-color: #2e2e2e;
  border-top: 1px solid $em-border-gray;

  .header{
    padding-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 11px;
    color: $em-text-gray-light;
  }
  .new-comment-container{
    display: flex;
    align-items: center;

    .comment-photo{
      align-self: center;
      img{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    textarea.new-comment{
      height: 60px;
      width: 100%;
      resize: none;
      border-radius: 5px;
      margin: 10px 0;
      padding: 8px;
      font-size: 12px;
      line-height: 14px;

      outline: none;
      -moz-outline: none;
      -webkit-outline: none;

      &:focus{
        //background-color: $em-bg-white;
      }
    }
  }
  .comments-list {
    .comment-item{
      padding: 5px 0;
      font-size: 12px;
      //letter-spacing: 0.5px;
      //word-spacing: 0.1px;
      //line-height: 13px;
      border-top: 1px solid $em-border-gray;

      .comment-bubble{
        //padding: 10px;

        .comment-content{
          display: flex;
          align-items: center;

          .comment-photo{
            align-self: flex-start;
            img{
              height: 32px;
              width: 32px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .comment-details {
            flex: 1 0 0;

            .name a{
              color: $em-btn-text;
              font-weight: bold;
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .comment-date{
              color: $em-text-gray-light;
              padding: 0;
              font-size: 11px;
            }
            .content{
              display: flex;
              justify-content: space-between;
              word-break: break-word;
              line-height: 16px;
              padding: 5px 0;
              .text{ }
              .del-icon{
                cursor: pointer;
                opacity: 1;
                visibility: visible;
                transition-duration: 300ms, 300ms;
                transition-property: opacity, visibility;
                transition-delay: 0, 200ms;
              }
              &:not(:hover){
                .del-icon{
                  opacity: 0;
                  visibility: hidden;
                  transition-duration: 300ms, 300ms;
                  transition-property: opacity, visibility;
                  transition-delay: 200ms, 0;
                }
              }
            }
            .comment-actions{
              .action{
                padding: 5px 5px 0 0;
                display: inline-block;

                .logo{
                  padding: 0 5px 0 0;
                }
                .primary{
                  font-weight: bold;
                  cursor: pointer;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                .label{
                  font-size: 11px;
                  font-weight: bold;
                  cursor: pointer;
                  color: $em-text-gray-light;

                  &.info{
                    cursor: default;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }
                }
              }
            }
          }
        }
      }


      .reply-list {

        margin: 0 0 0 40px;
        .header {
          padding: 5px 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 11px;
          color: $em-text-gray-light;
        }
        .new-reply-container{
          display: flex;
          align-items: center;

          .reply-photo{
            align-self: center;
            img{
              height: 32px;
              width: 32px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          textarea.new-reply{
            height: 46px;
            width: 100%;
            resize: none;
            border-radius: 5px;
            margin: 5px 0;
            padding: 8px;
            font-size: 12px;
            line-height: 14px;

            outline: none;
            -moz-outline: none;
            -webkit-outline: none;

            &:focus{
              //background-color: $em-bg-white;
            }
          }
        }
        .reply-item {
          //margin: 5px 0;
          font-size: 12px;
          //letter-spacing: 0.5px;
          //word-spacing: 0.1px;
          //line-height: 13px;
          padding: 5px 0px;
          border-bottom: 1px solid $em-border-gray;

          .reply-content {
            display: flex;
            align-items: center;
            line-height: 16px;

            .reply-photo{
              align-self: flex-start;
              img{
                height: 32px;
                width: 32px;
                border-radius: 50%;
                margin-right: 10px;
              }
            }
            .reply-details {
              flex: 1 0 0;

              .name a{
                color: $em-btn-text;
                font-weight: bold;
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
              .reply-date{
                color: $em-text-gray-light;
                padding: 0;
                font-size: 11px;
              }
              .content{
                display: flex;
                justify-content: space-between;
                word-break: break-word;
                padding: 5px 0;
                .text{  }
                .del-icon{
                  cursor: pointer;
                  opacity: 1;
                  visibility: visible;
                  transition-duration: 300ms, 300ms;
                  transition-property: opacity, visibility;
                  transition-delay: 0, 200ms;
                }
                &:not(:hover){
                  .del-icon{
                    opacity: 0;
                    visibility: hidden;
                    transition-duration: 0ms, 300ms;
                    transition-property: opacity, visibility;
                    transition-delay: 200ms, 0;
                  }
                }
              }
              .reply-actions {
                .action{
                  padding: 5px 5px 0 0;
                  display: inline-block;

                  .logo{
                    padding: 0 5px 0 0;
                  }
                  .primary{
                    font-weight: bold;
                    cursor: pointer;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                  .label{
                    font-size: 11px;
                    font-weight: bold;
                    cursor: pointer;
                    color: $em-text-gray-light;
                  }
                }
              }
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }

      &:first-child {
        border-top: none;
      }
    }
  }
}