.comments-control{
  padding: 0 25px;
  background-color: #f9fafd;
  border-top: 1px solid #e6ecf5;

  .header{
    padding-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 11px;
  }
  .new-comment-container{
    textarea.new-comment{
      height: 60px;
      width: 100%;
      resize: none;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,.12);
      margin: 10px 0;
      padding: 8px;
      background-color: $em-bg-gray;
      font-size: 12px;
      line-height: 14px;

      outline: none;
      -moz-outline: none;
      -webkit-outline: none;

      &:focus{
        background-color: $em-bg-white;
      }
    }
  }
  .comments-list {
    .comment-item{
      padding: 5px 0;
      font-size: 12px;
      //letter-spacing: 0.5px;
      //word-spacing: 0.1px;
      //line-height: 13px;
      border-top: 1px solid #edf2f6;

      .comment-bubble{
        //padding: 10px;

        .comment-content{
          display: flex;
          align-items: center;

          .comment-photo{
            align-self: flex-start;
            img{
              height: 32px;
              width: 32px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .comment-details {
            flex: 1 0 0;

            .name a{
              color: #545566;
              font-weight: bold;
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .content{

            }
            .comment-actions{
              .action{
                padding: 5px 5px 0 0;
                display: inline-block;

                .logo{
                  padding: 0 5px 0 0;
                }
                .primary{
                  font-weight: bold;
                  cursor: pointer;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                .label{
                  font-size: 11px;
                  font-weight: bold;
                  cursor: pointer;
                  color: #b1b1b1;

                  &.info{
                    cursor: default;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }
                }
              }
            }
          }
        }
      }


      .reply-list {

        margin: 0 0 0 40px;
        .header {
          padding: 5px 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 11px;
        }
        .new-reply-container{
          textarea.new-reply{
            height: 46px;
            width: 100%;
            resize: none;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            margin: 5px 0;
            padding: 8px;
            background-color: $em-bg-gray;
            font-size: 12px;
            line-height: 14px;

            outline: none;
            -moz-outline: none;
            -webkit-outline: none;

            &:focus{
              background-color: $em-bg-white;
            }
          }
        }
        .reply-item {
          //margin: 5px 0;
          font-size: 12px;
          //letter-spacing: 0.5px;
          //word-spacing: 0.1px;
          //line-height: 13px;
          padding: 5px 0px;
          border-bottom: 1px solid #edf2f6;

          .reply-content {
            display: flex;
            align-items: center;

            .reply-photo{
              align-self: flex-start;
              img{
                height: 32px;
                width: 32px;
                border-radius: 50%;
                margin-right: 10px;
              }
            }
            .reply-details {
              flex: 1 0 0;

              .name a{
                color: #545566;
                font-weight: bold;
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
              .content{

              }
              .reply-actions {
                .action{
                  padding: 5px 5px 0 0;
                  display: inline-block;

                  .logo{
                    padding: 0 5px 0 0;
                  }
                  .primary{
                    font-weight: bold;
                    cursor: pointer;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                  .label{
                    font-size: 11px;
                    font-weight: bold;
                    cursor: pointer;
                    color: #b1b1b1;
                  }
                }
              }
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }

      &:first-child {
        border-top: none;
      }
    }
  }
}