#contact-us{
  width: 60%;
  min-width: 700px;
  padding: 10px;
  margin: 0 auto;

  .page-header{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    user-select: none;
  }

  .page-content {
    background-color: $em-bg-gray-medium;
    border: 1px solid $em-border-gray;

    form {
      .em-form-control {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $em-border-gray;

        .field-label {
          padding: 5px 0;
          width: 35%;
          min-width: 200px;
          font-weight: bold;
          color: $em-text-blue;
        }
        @include mobile(){
          .field-label{
            padding: 0;
            width: 100%;
          }
        }
        .field-value {
          padding: 10px 0 0 0;
          width: 65%;

          input, select, textarea {
            height: 30px;
            font-size: 12px;
            width: 250px;
            outline: none;

            &:disabled {
              cursor: default;
              opacity: 0.6;
            }
          }
          textarea {
            height: 150px;
            resize: none;
            width: 100%;
            font-size: 12px;
          }

          input[type="text"], input[type="email"], textarea {
            border-radius: 3px;
            margin: 0 0 4px;
            max-width: 100%;
            padding: 8px;
            -webkit-outline: none;
            outline: none;

            &:focus {
              //background-color: $em-bg-white;
            }
          }
          input[type="reset"], input[type="submit"], input[type="button"] {
            margin-right: 10px;
            outline: none;
            font-size: 13px;
            width: auto;
            cursor: pointer;
            border-radius: 25px;
            border: 1px solid transparent;
            font-weight: 600;
            min-height: 36px;
            padding: 0 16px;
            vertical-align: middle;
          }
          input[type="submit"] {
            background-color: #ff5e3a;
            border-color: #ff5e3a;
            color: #fff;
          }
          input.cancel {

          }
        }
        @include mobile(){
          .field-value{
            width: 100%;
          }
        }
        .sub-text {
          color: $em-text-gray-light;
          font-weight: normal;
          font-size: 12px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
      @include mobile(){
        .em-form-control{
          padding: 10px;
          flex-direction: column;
        }
      }
    }
  }
}
@include mobile(){
  #contact-us{
    width: 100%;
    min-width: 100%;
  }
}