@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './reset.scss';
@import './layout.scss';
@import './variables.scss';
@import './calendar.scss';
@import './spinner.scss';
@import './modal.scss';
@import './placesautocomplete.scss';
@import './typeaheadautocomplete.scss';
@import './header.scss';
@import './footer.scss';
@import './content.scss';
@import './profile.scss';
@import './posts.scss';
@import './comments.scss';
@import './createpost.scss';
@import './contactus.scss';
@import './postlikesmodal';
@import './uploadphotomodal';

@import '../../../node_modules/react-datepicker/dist/react-datepicker.min.css';
@import '../../../node_modules/react-bootstrap-typeahead/css/Typeahead.min.css';

::selection {
  background-color: $em-bg-gray-verylight;
}
body{
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  color: $em-text-gray;
  background-color: $em-bg-gray-light;
  overflow-y: auto;

}
body, input, textarea, select, header, article, section, aside, pre {
  line-height: 1.6;
  letter-spacing: 0.7px;
  font-size: 13px;
  color: $em-text-gray;
}

input, select, textarea, select, radio {
  background-color: $em-input-bg-color;
  border: 1px solid $em-border-gray;
  color: $em-text-white;
  outline: none;
}
input[type="button"],
input[type="reset"]{
  color: $em-text-gray-dark;
  background-color: $em-bg-gray-verylight;
  border: 1px solid $em-border-gray;
  opacity: 0.9;

  &:hover:enabled,
  &:active:enabled,
  &:focus:enabled{
    //color: $em-text-white;
    //background-color: $em-bg-gray-light;
    opacity: 1;
  }
}
input[type="submit"]{

}
a:link { color: $em-text-blue; }
a:visited { color: $em-text-blue; }
a:hover { color: $em-text-blue; }
a:active { color: $em-text-blue; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,{
  //-webkit-text-fill-color: $em-text-gray;
  //-webkit-box-shadow: 0 0 0px 1px $em-input-bg-color inset;
  //transition: background-color 5000s ease-in-out 0s;
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
  0%,100% {
    color: $em-text-gray;
    background: $em-bg-gray-dark;
  }
}


#app {
  height: 100%;

  .main-container{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }
}