@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './reset.scss';
@import './variables.scss';
@import './calendar.scss';
@import './spinner.scss';
@import './modal.scss';
@import './placesautocomplete.scss';
@import './typeaheadautocomplete.scss';
@import './header.scss';
@import './footer.scss';
@import './content.scss';
@import './profile.scss';
@import './posts.scss';
@import './comments.scss';
@import './createpost.scss';
@import './postlikesmodal';
@import './uploadphotomodal';

@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../../node_modules/react-bootstrap-typeahead/css/Typeahead.css';

::selection {
  background-color: #e6e6e6;
}
body{
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  color: #888da8;
  background-color: #edf2f6;
  overflow-y: auto;

}
body, input, textarea, select, header, article, section, aside, pre {
  line-height: 1.6;
  letter-spacing: 0.7px;
  font-size: 13px;
  color: #888da8;
}


#app {
  height: 100%;

  .main-container{
    display: flex;
    flex-flow: column nowrap;
  }
}