.modal {
  .modal-dialog{
    .modal-content{
      .modal-header{
        .modal-title{
          font-weight: bold;
          font-size: 15px;
          color: #545566;
        }
      }
      .modal-footer{
        .btn{
          font-size: 13px;
          &.btn-primary{
            background-color: $em-primary-btn-bg-color;
            border-color: $em-primary-btn-border-color;

            &:hover,&:active{
              background-color: $em-primary-btn-bg-color-hover;
              border-color: $em-primary-btn-border-color-hover;
            }
          }
          &.btn-secondary{

          }
        }
      }
    }
  }
}