.autocomplete-dropdown-container{
  padding: 5px;
  position: absolute;
  top: 30px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $em-border-gray;
  z-index: 999;
  background-color: $em-bg-gray-dark;

  &:empty{
    display: none;
  }

  .suggestion-item{
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    padding: 0 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active{
      background-color: $em-bg-gray-light;
      color: $em-text-white;
    }
  }
}