.posts{
  display: flex;

  .left-content{
    width: 500px;
    min-width: 500px;

    .post{
      border: 1px solid #e6ecf5;;
      padding: 25px;
      margin: 10px 0;
      background-color: $em-bg-white;
      border-radius: 5px;

      .post-header{
        display: flex;
        justify-content: space-between;

        .post-details{
          display: flex;
          flex-flow: column;
          align-items: flex-start;

          .detail{
            font-size: 11px;
            padding: 0 5px;
            margin: 1px 0;
            background-color: #ececec;
            border-radius: 2px;
          }

          .post-date{
            background-color: #fff;
            padding: 0;
            font-size: 11px;
          }
        }

        .post-action{
          cursor: pointer;

          .dropdown-menu {
            max-width: 200px;
            .menu-item {
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #888da8;
              cursor: pointer;

              &:hover{
                background-color: #edf2f6;
                //text-decoration: underline;
              }
            }
          }
        }
      }
      .created-date{
        font-size: 13px;
      }

      .content{
        pre{
          margin: 25px 0;
          word-wrap: break-word;
          white-space:pre-wrap;
          overflow: hidden;
        }
      }
      .post-meta{
        padding: 20px 0;
        border-top: 1px solid #e6ecf5;
        border-bottom: 1px solid #e6ecf5;
        display: flex;
        align-items: center;
        cursor: default;

        .likes-count{
          width: 10%;
        }
        .liked{
          font-size: 12px;
          width: 66%;
          text-align: center;
        }
        .comments-count{
          width: 12%;
        }
        .shares-count{
          width: 12%;
        }
        i{
          zoom: 1.2;
          vertical-align: middle;
        }
      }
      .post-controls{
        display: flex;
        align-items: stretch;
        border-bottom: 1px solid #e6ecf5;

        .post-control{
          margin: 5px;
          flex: 1 0 auto;

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }

          button{
            background: none;
            color: #888da8;
            height: 30px;
            width: 100%;
            border-radius: 2px;
            -moz-outline: none;
            -webkit-outline: none;
            outline: none;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;

            &:active{
              opacity: 0.8;
            }
            &:hover{
              background-color: #f2f2f2;
            }
            &:focus{
              text-decoration: none;
              box-shadow: none;
            }
          }
        }
      }
    }

    .empty-message{
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding: 30px 0;
    }
  }
  .right-content{
    width: 285px;
    min-width: 285px;
    margin-left: 10px;
    padding: 10px 20px;

    .date-filter-container{
      display: flex;
      flex-flow: column;

      .date-filter{
        margin-bottom: 5px;
      }
      .today-filter{
        align-self: flex-end;
        margin-bottom: 10px;
        background-color: #888da8;
        color: #fff;
        -moz-outline: none;
        -webkit-outline: none;
        outline: none;
        cursor: pointer;
        font-size: 13px;
        border-radius: 5px;
        border: 1px solid #e6ecf5;

        &:active{
          background: none;
          color: #888da8;
        }
      }
    }

    .panel{
      margin-bottom: 20px;
      border: 1px solid #e6ecf5;

      &.date-filter{

      }

      &.quick-filter {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-flow: column nowrap;
        background-color: #fff;

        .filter-item{
          height: 28px;
          border-bottom: 1px solid #e6ecf5;
          line-height: 28px;
          padding: 0 0 0 10px;
          cursor: pointer;
          font-size: 13px;

          &.selected{
            border-left: 5px solid;
            padding: 0 0 0 5px;
            color: #6072d0;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }

      &.more-filter{
        background-color: #fff;
      }
    }
  }
}