.posts{
  display: flex;
  //height: 100%;

  .left-content{
    flex: 1 0 auto;
    border: 1px solid $em-border-gray;
    padding: 10px;
    min-width: 500px;
    background-color: $em-bg-white;
  }
  .right-content{
    width: 250px;
    min-width: 250px;
    margin-left: 10px;
    padding: 10px;
    background-color: $em-bg-white;
  }
}