#profile{
  width: 65%;
  min-width: 654px;
  margin: auto;
  background-color: $em-bg-white;
  border: 1px solid #e6ecf5;
  margin: 10px;

  form{
    .em-form-control{
      padding: 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e6ecf5;

      .field-label{
        padding: 5px 0;
        width: 50%;
        min-width: 200px;
        font-weight: bold;
      }
      .field-value{
        padding: 10px 0 0 0;

        input, select, textarea{
          height: 30px;
          font-size: 13px;
          width: 300px;
          outline: none;
          border: 1px solid #e6ecf5;
          color: #888da8;

          &:disabled{
            cursor: default;
            opacity: 0.6;
          }
        }
        textarea{
          height: 100px;
          resize: none;
        }

        input, textarea{
          background-color: $em-bg-gray;;
          border-radius: 3px;
          border: 1px solid rgba(0,0,0,.12);
          margin: 0 0 4px;
          max-width: 100%;
          padding: 8px;
          -webkit-outline: none;
          outline: none;

          &:focus{
            background-color: $em-bg-white;
          }
        }
        button{
          background: none;
          padding: 8px 16px;
          color: #888da8;
          -webkit-outline: none;
          outline: none;
          font-weight: bold;
          font-size: 12px;

          &:active{
          }
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}