.upload-photo-container{
  display: flex;

  .left-content{
    width: 160px;

    .display-pic{
      border: none;
      position: relative;

      picture img {
        width: 100%;
        max-height: 200px;
      }
    }
  }
  .right-content{
    margin: 10px;

    .actions{
      padding: 0 10px;

      input[type="file"]{
        border: none;
        background-color: $em-text-white;
        color: $em-text-gray-dark;
        outline: none;
      }

      input[type="submit"], button{
        font-size: 16px;
        width: auto;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 600;
        min-height: 36px;
        outline: 0;
        padding: 0 16px;
        vertical-align: middle;
        border: 1px solid #ff5e3a;
        background-color: #ff5e3a;
        color: #fff;

        &:hover{
          opacity: 0.8;
        }
      }

      .action-item{
        margin-bottom: 20px;
      }
    }
  }
}